@function set-text-color($color){
    @if(lightness($color) > 40%){
        @return #000;
    } @else{
        @return #fff;
    }
}

// opacity value for black and white color
@function black($opacity){
    @return rgba(#000, $opacity);
}

@function white($opacity){
    @return rgba(#fff, $opacity);
}

@function opacity($color, $opacity){
    @return rgba($color, $opacity);
}

@function tint($color, $percentage){
    @return mix(#fff, $color, $percentage);
}

@function shade($color, $percentage){
    @return mix(#000, $color, $percentage);
}

@function half($num) {
    @return $num / 2;
}

@function convert-to-rem($px-value) {
    $rem-value: $px-value / $base-font-size;
    $zero-safe-rem-value: if($px-value == 0, 0, $rem-value);
    @return $zero-safe-rem-value;
}

@function rem($px-values) {
    $rem-values: ();
    @each $px-value in $px-values {
      $rem-values: append($rem-values, convert-to-rem($px-value));
    }
    @return $rem-values;
}

@function str-replace($string, $search: "!important", $replace: ""){
    $index: str-index($string, $search);

    @if $index{
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function calculateRem($size){
    $remSize: $size / 16;
    @return #{$remSize}rem;
}