*,
*::before,
*::after{
    box-sizing: border-box;
    @include flush;
    @include hard;
}

html,body{
    height: 100%;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    @include transition-default;
    &:focus, &:hover{
        color: unset;
    }
}
img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
img{
    width: 100%;
}
input, button,textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6, p{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}

button{
    @include bg-transparent;
    @include border-none;
}

// Images, Flash & video
img, object, embed, video{
    max-width: 100%;
}

//* Remove default table spacing.
table {
    border-collapse: collapse;
    border-spacing: 0;
}

