

.sc-category{
    @include py(63px);

    @include breakpoint-down(lg){
        @include py(40px);
    }

    .category-list{
        margin-right: -12px;
        margin-left: -12px;

        .category-item{
            width: calc(16.6666% - 24px);
            margin: 12px;

            .item-img{
                @include border-r-circle;
                @include overflow-hidden;
                max-width: 129px;
                @include push--auto;
                @include transition-default;

                img{
                    @include transition-default;
                }

                &:hover{
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    img{
                        transform: scale(1.1);
                    }
                }
            }

            .item-title{
                margin-top: 29px;
            }

            @include breakpoint-down(lg){
                width: calc(25% - 24px);
            }

            @include breakpoint-down(sm){
                width: calc(33.3333% - 16px);
                margin: 8px;
            }
        }

        @include breakpoint-down(xs){
            margin-right: -8px;
            margin-left: -8px;
        }
    }
}

.sc-concern{
    .concern-list{
        .concern-item{
            height: 447px;
            @include pos-relative;

            &::after{
                content: "";
                @include pos-absolute(0, 0, 0, 0);
                background: linear-gradient(0.73deg, #000000 16.52%, rgba(0, 0, 0, 0) 113.22%);
                @include opacity(0.7);
            }

            &::before{
                content: "";
                @include pos-absolute(0, 0, 0, 0);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(52, 2, 77));
                @include opacity(0);
                @include transition-default;
            }

            .item-title{
                @include transition-default;
            }

            &:hover{
                &::before{
                    @include opacity(0.5);
                }

                .item-title{
                    margin-bottom: 16px!important;
                }
            }

            .item-overlay-content{
                @include pos-absolute(null, null, 0, 50%);
                @include w-100;
                text-align: center;
                transform: translateX(-50%);
                padding: 16px 16px 74px 16px;
                color: map-get($colors, 'clr-white');
                z-index: 10;
            }
        }
    }
}

.sc-feedback{
    @include py(100px);
    @include breakpoint-down(lg){
        @include py(40px);
    }

    .card-grid{
        &-left{
            .title-light{
                @include font-w(400!important);
                margin-bottom: 12px;
            }
        }

        .feedback-item{
            .content-styling{
                margin-bottom: 63px;

                @include breakpoint-down(lg){
                    margin-bottom: 32px;
                }
            }
        }

        &-right{
            margin-top: 80px!important;
            .item-img{
                &-first{
                    height: 371px;
                    @include overflow-hidden;
                    margin-bottom: 16px;
                    @include breakpoint-up(sm){
                        @include flush--bottom;
                        margin-right: 5px;
                    }
                }

                &-second{
                    height: 371px;
                    @include overflow-hidden;

                    @include breakpoint-up(sm){
                        margin-left: 5px;
                    }
                }
            }

            @include breakpoint-up(lg){
                margin-top: 0!important;
            }
        }
    }
}

.sc-sellers{
    @include py(62px);

    @include breakpoint-down(lg){
        @include py(40px);
    }
    .card-box-title{
        @include px(38px);
    }
}

.sc-promise{
    padding-top: 153px;
    padding-bottom: 86px;

    @include breakpoint-down(lg){
        @include py(40px);
    }

    &-wrapper{
        @include pos-relative;
    }

    .card-grid-right{
        h3.title-base{
            @include font-w(400);
        }

        .btn{
            margin-top: 40px;
        }
    }

    .card-grid-left{
        @include flush--right;
    }

    .shape-1{
        @include pos-absolute(null, null, 0, 0);
        z-index: -2!important;
    }
}

.sc-insta{
    @include py(83px);

    @include breakpoint-down(lg){
        @include py(40px);
    }

    .insta-list{
        .insta-item-wrapper{
            @include overflow-hidden;
            @include px(6px);
            @include pos-relative;

            &:hover{
                .insta-item-icon{
                    @include opacity(1);
                }

                .insta-item{
                    &::after{
                        @include opacity(1);
                    }
                }
            }
        }

        .insta-item{
            @include box(373px, 249px);
            @include overflow-hidden;
            @include border-radius(4px);
            @include pos-relative;

            &-icon{
                @include pos-absolute(50%, null, null, 50%, 10);
                transform: translate(-50%, -50%);
                @include font-s(25);
                @include opacity(0);
                @include transition-default;
            }

            &::after{
                content: "";
                @include pos-absolute(0, null, null, 0);
                @include box(100%);
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(0px);
                -webkit-backdrop-filter: blur(0px);
                @include opacity(0);
                @include transition-default;
            }
        }
    }
}

.sc-review{
    padding-top: 161px;
    padding-bottom: 143px;

    .review-list{
        margin-bottom: 16px;
        .review-item{
            @include p(62px, 29px, 25px, 42px);
            @include border-radius(5px);
            @include mx(32.5px);
            @include grid-template-columns(123px auto);
            column-gap: 36px;
            @include border(map-get($colors, 'clr-veronica'));

            @include breakpoint-down(xxl){
                @include grid-template-columns(80px auto);
            }

            @include breakpoint-down(sm){
                @include grid-template-columns(1fr);
            }

            .item-img{
                @include box(123px);
                @include overflow-hidden;
                @include border(map-get($colors, 'clr-platinum'), 6px);
                @include border-r-circle;

                @include breakpoint-down(lg){
                    @include box(70px);
                }

                @include breakpoint-down(sm){
                    @include box(123px);
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .item-text{
                padding-left: 36px;

                @include breakpoint-down(lg){
                    padding-left: 8px;
                }

                @include breakpoint-down(sm){
                    margin-top: 24px;
                }

                &-name{
                    margin-top: 20px;
                    @include pos-relative;

                    &::after{
                        content: "";
                        @include pos-absolute(50%, null, null, -20px);
                        @include box(4px);
                        transform: translateY(-50%);
                        @include bg-color(dark);
                    }
                }
            }
        }
    }
}